body
{
  font-family: Calibri;
  font-style: italic;
}
#flex-container
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center
{
  display: flex;
  text-align: center;
  justify-content: center;
}
.x
{
  margin-right: 40px;
}
.y
{
  margin-left: 40px;
}
.Kost1
{
  width: 147px;
  height: 147px;
  margin-right: 50px;
}
.Kost2
{
  width: 147px;
  height: 147px;
}
.Kost3
{
  font-weight: bold;
  font-size: 28px;
  width: 300px;
  height: 40px;
}
